SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

########### CLK ###########

LOCATE    COMP "C_OSC_25" SITE "P3";
IOBUF     PORT "C_OSC_25" IO_TYPE=LVCMOS33;
FREQUENCY PORT "C_OSC_25" 25 MHZ;

########### LED ###########
# HAS PULLUP RESISTOR
LOCATE COMP "L_OB" SITE "U16";
IOBUF  PORT "L_OB" IO_TYPE=LVCMOS33;

########### SDRAM ###########

LOCATE    COMP "R_CLK" SITE "B9";
IOBUF     PORT "R_CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "R_CLK" 143 MHZ;

LOCATE COMP "R_RAS"    SITE "B10";
IOBUF  PORT "R_RAS"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "R_CAS"    SITE "A9";
IOBUF  PORT "R_CAS"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "R_WE"     SITE "A10";
IOBUF  PORT "R_WE"     PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "R_BA[0]"  SITE "B11";
LOCATE COMP "R_BA[1]"  SITE "C8";
IOBUF  PORT "R_BA[0]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_BA[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "R_A[0]"   SITE "B13";
LOCATE COMP "R_A[1]"   SITE "C14";
LOCATE COMP "R_A[2]"   SITE "A16";
LOCATE COMP "R_A[3]"   SITE "A17";
LOCATE COMP "R_A[4]"   SITE "B16";
LOCATE COMP "R_A[5]"   SITE "B15";
LOCATE COMP "R_A[6]"   SITE "A14";
LOCATE COMP "R_A[7]"   SITE "A13";
LOCATE COMP "R_A[8]"   SITE "A12";
LOCATE COMP "R_A[9]"   SITE "A11";
LOCATE COMP "R_A[10]"  SITE "B12";
IOBUF  PORT "R_A[0]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[1]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[2]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[3]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[4]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[5]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[6]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[7]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[8]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[9]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_A[10]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "R_DQ[0]"  SITE "B6";
LOCATE COMP "R_DQ[1]"  SITE "A5";
LOCATE COMP "R_DQ[2]"  SITE "A6";
LOCATE COMP "R_DQ[3]"  SITE "A7";
LOCATE COMP "R_DQ[4]"  SITE "C7";
LOCATE COMP "R_DQ[5]"  SITE "B8";
LOCATE COMP "R_DQ[6]"  SITE "B5";
LOCATE COMP "R_DQ[7]"  SITE "A8";
LOCATE COMP "R_DQ[8]"  SITE "D8";
LOCATE COMP "R_DQ[9]"  SITE "D7";
LOCATE COMP "R_DQ[10]" SITE "E8";
LOCATE COMP "R_DQ[11]" SITE "D6";
LOCATE COMP "R_DQ[12]" SITE "C6";
LOCATE COMP "R_DQ[13]" SITE "D5";
LOCATE COMP "R_DQ[14]" SITE "E7";
LOCATE COMP "R_DQ[15]" SITE "C5";
LOCATE COMP "R_DQ[16]" SITE "C10";
LOCATE COMP "R_DQ[17]" SITE "D9";
LOCATE COMP "R_DQ[18]" SITE "E11";
LOCATE COMP "R_DQ[19]" SITE "D11";
LOCATE COMP "R_DQ[20]" SITE "C11";
LOCATE COMP "R_DQ[21]" SITE "D12";
LOCATE COMP "R_DQ[22]" SITE "E9";
LOCATE COMP "R_DQ[23]" SITE "C12";
LOCATE COMP "R_DQ[24]" SITE "E14";
LOCATE COMP "R_DQ[25]" SITE "C15";
LOCATE COMP "R_DQ[26]" SITE "E13";
LOCATE COMP "R_DQ[27]" SITE "D15";
LOCATE COMP "R_DQ[28]" SITE "E12";
LOCATE COMP "R_DQ[29]" SITE "B17";
LOCATE COMP "R_DQ[30]" SITE "D14";
LOCATE COMP "R_DQ[31]" SITE "D13";
IOBUF  PORT "R_DQ[0]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[2]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[3]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[4]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[5]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[6]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[7]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[8]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[9]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[26]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[27]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[28]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[29]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[30]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "R_DQ[31]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### FLASH ###########

# LOCATE COMP "F_CS"   SITE "R2";
# IOBUF  PORT "F_CS"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "F_MISO" SITE "V2";
# IOBUF  PORT "F_MISO" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "F_MOSI" SITE "W2";
# IOBUF  PORT "F_MOSI" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "F_SCK"  SITE "U3";
# IOBUF  PORT "F_SCK"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### HDMI ###########

LOCATE COMP "TMDS_CLK_P" SITE "J19";
IOBUF  PORT "TMDS_CLK_P" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_CLK_N" SITE "K19";
IOBUF  PORT "TMDS_CLK_N" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_D0_P"  SITE "G19";
IOBUF  PORT "TMDS_D0_P"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_D0_N"  SITE "H20";
IOBUF  PORT "TMDS_D0_N"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_D1_P"  SITE "E20";
IOBUF  PORT "TMDS_D1_P"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_D1_N"  SITE "F19";
IOBUF  PORT "TMDS_D1_N"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_D2_P"  SITE "C20";
IOBUF  PORT "TMDS_D2_P"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "TMDS_D2_N"  SITE "D19";
IOBUF  PORT "TMDS_D2_N"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### P1 ###########



########### P2 ###########

# LOCATE COMP "P2_3"  SITE "K18";
# IOBUF  PORT "P2_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_4"  SITE "T18";
# IOBUF  PORT "P2_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_5"  SITE "R17";
# IOBUF  PORT "P2_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_6"  SITE "M17";
# IOBUF  PORT "P2_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P2_7"  SITE "U18";
# IOBUF  PORT "P2_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_9"  SITE "P18";
# IOBUF  PORT "P2_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P2_12" SITE "N18";
# IOBUF  PORT "P2_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_13" SITE "L20";
# IOBUF  PORT "P2_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_14" SITE "K20";
# IOBUF  PORT "P2_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_15" SITE "G20";
# IOBUF  PORT "P2_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P2_16" SITE "J20";
# IOBUF  PORT "P2_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_17" SITE "L18";
# IOBUF  PORT "P2_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_18" SITE "M18";
# IOBUF  PORT "P2_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_19" SITE "N17";
# IOBUF  PORT "P2_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P2_22" SITE "U17";
# IOBUF  PORT "P2_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_24" SITE "T17";
# IOBUF  PORT "P2_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P2_25" SITE "P17";
# IOBUF  PORT "P2_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_26" SITE "R18";
# IOBUF  PORT "P2_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P2_27" SITE "C18";
# IOBUF  PORT "P2_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# HAS PULLUP RESISTOR
# LOCATE COMP "P2_28" SITE "U16";
# IOBUF  PORT "P2_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


########### P3 ###########

# LOCATE COMP "P3_3"  SITE "D20";
# IOBUF  PORT "P3_3"  PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_4"  SITE "B19";
# IOBUF  PORT "P3_4"  PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_5"  SITE "A19";
# IOBUF  PORT "P3_5"  PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_6"  SITE "A18";
# IOBUF  PORT "P3_6"  PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P3_7"  SITE "C4";
# IOBUF  PORT "P3_7"  PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_9"  SITE "C3";
# IOBUF  PORT "P3_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P3_12" SITE "A3";
# IOBUF  PORT "P3_12" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_13" SITE "B1";
# IOBUF  PORT "P3_13" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_14" SITE "D2";
# IOBUF  PORT "P3_14" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_15" SITE "E2";
# IOBUF  PORT "P3_15" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P3_16" SITE "D1";
# IOBUF  PORT "P3_16" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_17" SITE "C1";
# IOBUF  PORT "P3_17" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_18" SITE "C2";
# IOBUF  PORT "P3_18" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_19" SITE "E3";
# IOBUF  PORT "P3_19" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P3_22" SITE "B4";
# IOBUF  PORT "P3_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_24" SITE "D3";
# IOBUF  PORT "P3_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P3_25" SITE "C17";
# IOBUF  PORT "P3_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_26" SITE "B18";
# IOBUF  PORT "P3_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_27" SITE "B20";
# IOBUF  PORT "P3_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P3_28" SITE "F20";
# IOBUF  PORT "P3_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### P4 ###########

# LOCATE COMP "P4_3"  SITE "E1";
# IOBUF  PORT "P4_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_4"  SITE "E4";
# IOBUF  PORT "P4_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_5"  SITE "F3";
# IOBUF  PORT "P4_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_6"  SITE "H3";
# IOBUF  PORT "P4_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P4_7"  SITE "H5";
# IOBUF  PORT "P4_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_9"  SITE "J5";
# IOBUF  PORT "P4_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P4_12" SITE "A2";
# IOBUF  PORT "P4_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_13" SITE "K4";
# IOBUF  PORT "P4_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_14" SITE "B2";
# IOBUF  PORT "P4_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P4_17" SITE "E19";
# IOBUF  PORT "P4_17" PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_18" SITE "B3";
# IOBUF  PORT "P4_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_19" SITE "K5";
# IOBUF  PORT "P4_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P4_22" SITE "K3";
# IOBUF  PORT "P4_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_24" SITE "J4";
# IOBUF  PORT "P4_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P4_25" SITE "H4";
# IOBUF  PORT "P4_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_26" SITE "G3";
# IOBUF  PORT "P4_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_27" SITE "F1";
# IOBUF  PORT "P4_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P4_28" SITE "F2";
# IOBUF  PORT "P4_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### P5 ###########

# LOCATE COMP "P5_3"  SITE "F4";
# IOBUF  PORT "P5_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_4"  SITE "E6";
# IOBUF  PORT "P5_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_5"  SITE "D16";
# IOBUF  PORT "P5_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_6"  SITE "D17";
# IOBUF  PORT "P5_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P5_7"  SITE "E17";
# IOBUF  PORT "P5_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_9"  SITE "F16";
# IOBUF  PORT "P5_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P5_12" SITE "E18";
# IOBUF  PORT "P5_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_13" SITE "F18";
# IOBUF  PORT "P5_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_14" SITE "G18";
# IOBUF  PORT "P5_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_15" SITE "H18";
# IOBUF  PORT "P5_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P5_16" SITE "J17";
# IOBUF  PORT "P5_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_17" SITE "H17";
# IOBUF  PORT "P5_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_18" SITE "H16";
# IOBUF  PORT "P5_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_19" SITE "G16";
# IOBUF  PORT "P5_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P5_22" SITE "F17";
# IOBUF  PORT "P5_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_24" SITE "E16";
# IOBUF  PORT "P5_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# LOCATE COMP "P5_25" SITE "D18";
# IOBUF  PORT "P5_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_26" SITE "G5";
# IOBUF  PORT "P5_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_27" SITE "F5";
# IOBUF  PORT "P5_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
# LOCATE COMP "P5_28" SITE "E5";
# IOBUF  PORT "P5_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### P6 ###########

LOCATE COMP "P6_3"  SITE "J18";
IOBUF  PORT "P6_3"  PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_4"  SITE "P16";
IOBUF  PORT "P6_4"  PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_5"  SITE "L4";
IOBUF  PORT "P6_5"  PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_6"  SITE "N4";
IOBUF  PORT "P6_6"  PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "P6_7"  SITE "T3";
IOBUF  PORT "P6_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_9"  SITE "T2";
IOBUF  PORT "P6_9"  PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "P6_12" SITE "N2";
IOBUF  PORT "P6_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_13" SITE "V1";
IOBUF  PORT "P6_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_14" SITE "Y2";
IOBUF  PORT "P6_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_15" SITE "T1";
IOBUF  PORT "P6_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "P6_16" SITE "R1";
IOBUF  PORT "P6_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_17" SITE "U1";
IOBUF  PORT "P6_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_18" SITE "W1";
IOBUF  PORT "P6_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_19" SITE "M1";
IOBUF  PORT "P6_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "P6_22" SITE "N3";
IOBUF  PORT "P6_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_24" SITE "M3";
IOBUF  PORT "P6_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "P6_25" SITE "R3";
IOBUF  PORT "P6_25" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_26" SITE "M4";
IOBUF  PORT "P6_26" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_27" SITE "L5";
IOBUF  PORT "P6_27" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "P6_28" SITE "J16";
IOBUF  PORT "P6_28" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;